<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>Sign Up</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Family Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="E-mail">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Personal ID">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
            </div>
            <div class="mb-3 d-flex justify-content-between ">
                <a routerLink="/login" class="btn btn-link">Login</a>
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-check"></i>&nbsp;Sign Up</button>
            </div>
        </div>
    </div>
</div>