<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="User">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>
            <div class="mb-3 d-flex justify-content-between ">
                <a routerLink="/signup" class="btn btn-link">Sign Up</a>
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-check"></i>&nbsp;Login</button>
            
            </div>
        </div>
    </div>
</div>